<div class= "jumbotron">
<h1>Welcome to my app!</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Click here to Sign up <%= link_to "sign up here", "g", class: "btn btn-primary but-lg" %>.</p>
</div>